<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }

        .login-container {
            width: 300px;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333333;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        input {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #cccccc;
            border-radius: 5px;
        }

        button {
            padding: 10px;
            background-color: #0088cc;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #006699;
        }

        .errorMessage {
            color : "red"
        }
    </style>
    <div class="login-container">
        <div class=errorMessage>
            <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
                <p ><%= errorMessage %></p>
            <% } %>
        </div>
        
        <h1>Login</h1>
        <form action="/login" method="post">
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/signUp">Sign up</a></p>
    </div>
</body>

</html>